packages:
  yum:
    tomcat-native: []

container_commands:
    mysql:
        command: "cp WEB-INF/lib/mysql-connector-java-5.1.36-bin.jar /usr/share/java/tomcat8/"
    replace-config:
        command: "sed 's/<Connector port=\"8080\"/<Connector URIEncoding=\"UTF-8\" port=\"8080\"/' -i /etc/tomcat8/server.xml"
