/build
.settings
.DS_Store
xcdebugger
xcuserdata
xcshareddata
*.xcuserstate
*.war
bin
gen
.Rproj.user
.gwt
gwt-unitCache
war/warroom
war/WEB-INF/classes
war/WEB-INF/deploy
*.cache.html
*.symbolMap
*.nocache.js
gwtia
